/*Untuk tampilan mobile*/
/* Tampilan Mobile */
@media screen and (max-width: 576px){
}

/* Tampilan Tablet */
@media screen and (max-width: 992px) {
    .img {
        max-width: 100%;
    }

    .card pt-3 {
        padding-bottom: 50px;
        padding-top: 60px;
    }

    .banner {
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-text {
        width: auto;
    }


}

/*untuk tampilan Dekstop*/
@media screen and (max-width: 1200px){
}