*, ::after, ::before {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

/* Navbar for Header */
.nav {
    background-color:  #F1F3FF;
}
.navbar-toggler {
    border: none;
  }
  
.navbar-toggler:focus {
    box-shadow: none;
}
  
.header{
    background-color: #F1F3FF;
}

.cars {
    background-color: #F1F3FF;
}

/* Grid for Our Service */
.container {
    background-color: white;
}

.img-checklist {
    width: 20px;
    height: 20px;
}

.col li {
    list-style: none;
    display: flex;
}

ul li {
    list-style: none;

}
 

/* .caption {
    text-align: center;
    padding-top: 100px;
} */
/* TEstimoni */
.profil {
    width: 70px !important;
    margin: 0 auto;
    margin-top: 50px;
}

/* Blue Box */
.fluid-container {
    background-color: blue;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: square;
    padding : 50px;
    aspect-ratio: 20%;
}

/* Accordion for FAQ */
.container {
    padding-top: 150px;
} 

.accordion {
    padding-bottom: auto;
}

/* Footer for the last */
.footer {
    padding-top: 100px;
}

